.imageAndText {
   position: relative;
}

.imageAndText .col {
	position: absolute; z-index: 0; top: 0; 
	right: 0;
}

.container-width-refer{
    min-width: 1300px !important;
    min-height: 564px !important;
    max-height: 800px !important;
    max-width: 1600px !important;
}